<!doctype html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.rawgit.com/ftlabs/fastclick/master/lib/fastclick.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src='/static/chart.js'></script>
    <title>{% block title %}{% endblock %}Twitter Monitor</title>
    {% endblock %}
</head>

<body>
    <div id="main" class="scene">
        {% if self.header() %}
        <header>
            {% block header %}{% endblock %}
        </header>
        {% endif %}
        <main class="fade-in-up element">
            {% with messages = get_flashed_messages() %}
                {% for message in messages %}
                    <div class="flash">{{ message }}</div>
                {% endfor %}
            {% endwith %}

            {% block main %}{% endblock %}
        </main>
        {% block scripts %}{% endblock %}

    </div>
    <!-- scripts -->
</body>

</html>